Source: xenta-artwork
Section: admin
Priority: optional
Maintainer: Dindin Hernawan (Xenta OS) <dindin_hernawan@yahoo.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/xentaoslinux/xenta-artwork
Vcs-Browser: https://github.com/xentaoslinux/xenta-artwork.git

Package: xenta-artwork
Architecture: all
Depends: xenta-artwork-common, xenta-artwork-applications
Description: Paket Base Xenta OS Artwork.
 Sebuah Paket Artwork Penyesuian Semua Edisi Xenta OS.
